body{
    background-color: rgb(0, 0, 0);
}
html, body {
  margin: 0;
  padding: 0;
  
  /* padding-top: 16px; */
} 
.main{
    position:fixed;
    top: 0;
    left:0;
    right: 0;
    background-color: rgb(0, 0, 0);
    padding: 15.5px;
    width: 100%;
    display: flex;
    border-bottom:0.5px solid white;
    z-index: 1000;
     
}
#logo{
    width: 10rem;
    padding-left: 13px;
    padding-top: 10px;
}
.nav_body {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    align-items: center;
    font-size: 18px;
    font-weight: 300;
}
.nav_body a{
     color: white;
    text-decoration: none; 
}
.nav_body select{
    color: white;
    border:none;
    outline: none;
    background: transparent;
    font-size: 18px;
}
select option{
    background-color: black;
    color: white;
    border: none;
    outline: none;
}
.right_nav{
    display: flex;
    gap: 20px;
    width:720px;
    justify-content: end;
}

.right_nav select{
    color: white;
    border: none;
    outline: none;
    background: transparent;
    font-size: 18px;
    cursor: pointer;
}
/* .right_nav select option{
    background-color: black;
    color: white;
    font-size: 24px; */

/* } */
.right_nav button{
    border-radius: 15px;
    width: 120px;
    text-align: center;
    /* border: none; */
    font-weight: 700;
    cursor: pointer;
       
}
#log{
    background-color: black;
    color: #ccff00;
    border-color: #ccff00;

}
#sign{
    background-color:#ccff00;
    border: none;
    
}
#menu{
    display: none;
}
.nav_body a:hover,.nav_body select:hover,.right_nav select:hover{
    color:#ccff00;
}



/* all about nav bar */



@media screen and (max-width:600px) {
   
   .nav_body {
    display: none;
   }
   #menu{
    display: flex;
   }
}
#card_1{
    position: relative;
    width: 100%;
    height: 900px;
    /* background-color: rgba(0, 0, 0, 0);  */
    /* position:relative */
   
}
    #video_1{
        width: 100%;   
    }
    #mobile_video{
        display: none;
    }
    .card_1_content{
        /* background-color: black; */
        position: absolute;
        top: 165px;
        left: 245px;
        /* border-radius: 15px; */
        width: 470px;
    }
    #date{
        color:rgba(255,255,255,0.3);
        font-weight: 400;
        font-family: Phonic, Helvetica, system-ui, -apple-system, BlinkMacSystemFont, Arial, sans-serif;
    }
    #heading{
        font-family: Martina Plantijn, serif;
        font-style: normal;
        font-size: 60px;
        color: #b8a36a;
        font-weight: 400;
    }  
    #para{
        color:white;
        font-family: Phonic, Helvetica, system-ui, -apple-system, BlinkMacSystemFont, Arial, sans-serif;
        font-weight: 500;
        font-size: 13px;
        line-height: 20px;
    }
    #terms{
        color:rgba(255,255,255,0.7);
        font-family: Phonic, Helvetica, system-ui, -apple-system, BlinkMacSystemFont, Arial, sans-serif;
        font-weight: 200;
        font-size: 10px;
    }
    #button_1{
        border-radius: 50px;
        font-size: 15px;
        width: 120px;
        padding: 10px;
        font-weight: 400;
        cursor: pointer;
        border: none;
    }
                 @media screen and (max-width:600px) {
                    #video_1{
                        display: none;
                    }
                    #card_1{
                        height: 1100px;
                    }
                    #mobile_video{
                        display: block;
                        width: 100%;
                        object-fit: cover;
                        height: 100%;
                        
                    }
                    .card_1_content{
                        position:absolute;
                        left: 3rem;
                    }
                 }   
#card_2{
    position: relative;
    width: 100%;
    background-image: url("https://images.ctfassets.net/ilblxxee70tt/72AW6WOPCImTemmsfDxVFk/276b95a7314a0d484a27f3f51cc47a82/web_homepage_investing_2.jpeg");
    background-size: cover ;
    height: 800px;
    background-color: green;
    
}
    .card_2_content{
        position: relative;
        left: 850px;
        top: 250px;
        width: 364px;
      
    }
    #line_1{
        /* font-size: 32px; */
        font-family:Phonic, Helvetica, system-ui, -apple-system, BlinkMacSystemFont, Arial, sans-serif;
        font-weight: 300;
        color:#ccff00
    }
    #rem_line{
        font: size 30px;
        font-family:Phonic, Helvetica, system-ui, -apple-system, BlinkMacSystemFont, Arial, sans-serif;
        font-weight: 300;
        color:#ffffff
    }
    #last_line{
        color:#ffffff;
        font-family:Phonic, Helvetica, system-ui, -apple-system, BlinkMacSystemFont, Arial, sans-serif;
        font-size: 14px;
        font-weight: 500;


    }
    #button_2{
        border-radius: 50px;
        background-color: #ccff00;
        font-size: 15px;
        width: 100px;
        padding: 10px;
        font-weight: 400;
        cursor: pointer;
        border: none;
    }
                    @media screen and (max-width:600px) {
                    #card_2{
                        background-image: url("https://images.ctfassets.net/ilblxxee70tt/1jvtb9LgLK7amOfYSgNVk7/d1504fdcb9be25bfa5142ee1481b9f32/mobile_homepage_investing_4x.jpeg");
                        background-size: cover;
                        background-position:center;
                        height: 1200px;
                        
                       
                    }
                    .card_2_content{
                        position: absolute;
                        left: 7rem;
                        top: 7rem;
                    }
                    
                
                }   
#card_3{
    position: relative;
    background-image: url("https://images.ctfassets.net/ilblxxee70tt/2zqFBs1Dk1ZFLa68vgaCUM/ae93f6273da3b74ae09899a4cdcee75e/wide_crypto_hero_4k_test_2.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 800px;
    background-color: rgb(0, 255, 34);
  
}
    .card_3_content{
        position: relative;
        left: 820px;
        top: 250px;
        width: 280px;
    }
    #img_3{
        width: 150px;
        height: 70px;
    }
    #fisrt_line{
        font-family:Phonic, Helvetica, system-ui, -apple-system, BlinkMacSystemFont, Arial, sans-serif;
        font-size: 1.5rem;
        font-weight: 450;
        line-height: 1.9REM;
    }
    #card_3_para{
        font-family:Phonic, Helvetica, system-ui, -apple-system, BlinkMacSystemFont, Arial, sans-serif;
        font-size: 10px;
        font-weight: 80;
        line-height: 20px;
    }
    #info{
        text-decoration: none;
        color: rgba(0,0,0,0.4);
    }
    #button_3{
        border-radius: 50px;
        background-color: black;
        color: white;
        font-size: 15px;
        width: 100px;
        padding: 11px;
        font-weight: 400;
        cursor: pointer;
        border: none;    
    }
                @media screen and (max-width:600px) {
                    #card_3{
                        background-image: url("https://images.ctfassets.net/ilblxxee70tt/7vB1E5FkoYiyUiDiLbBvRY/0304e170b4885b5a84042916c69bc792/mobile_crypto_hero_3.jpg");
                        background-size: cover;
                        height: 1000px;
                       
                    }
                    .card_3_content{
                        position: absolute;
                        left: 10rem;
                        top: 10rem;
                    }
                    
                
                }   
#card_4{
    position: relative;
    background-image: url("https://images.ctfassets.net/ilblxxee70tt/54Guv4y5evT0ZpKTaC09c1/391b135f648b2582deff63a48ef63c10/RH25_Strategiespromo_wide_homepage_hero_4k.jpeg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 800px;
    background-color: yellow;
}   
    .card_4_content{
        position: relative;
        left: 240px;
        top: 170px;
        width: 350px;
    }
    #heading_4{
        font-family:Phonic, Helvetica, system-ui, -apple-system, BlinkMacSystemFont, Arial, sans-serif;
        color: white;
        font-size: 2rem;
        font-weight: 300;
    }
    #para_4{
        color: white;
        font-family:Phonic, Helvetica, system-ui, -apple-system, BlinkMacSystemFont, Arial, sans-serif;
        font-size: 1rem;
        line-height: 30px;
       
    }
    #last_4{
        color: white;
        font-family:Phonic, Helvetica, system-ui, -apple-system, BlinkMacSystemFont, Arial, sans-serif;
        font-size: 10px;
    
    }
    #button_4{
        border-radius: 50px;
        background-color: #ccff00;
        font-size: 15px;
        width: 200px;
        padding: 10px;
        font-weight: 400;
        cursor: pointer;
        border: none;
    }
                     @media screen and (max-width:600px) {
                    #card_4{
                        background-image: url("https://images.ctfassets.net/ilblxxee70tt/42t5C9fq8xRabnCPUCaV3W/2ac191b14f3785e23d1c001d4a31bf0e/RH25_strategiespromo_mobile_homepage_hero.jpg");
                        background-size: cover;
                        height: 1000px;
                       
                    }
                    .card_4_content{
                        position: absolute;
                        left: 8rem;
                        top: 7rem;
                    }
                    
                
                }   
#card_5{
    position: relative;
    width: 100%;
    height: 800px;
    background-color:rgb(28,24,13);
    text-align: center;
    padding-top: 5rem;
    
}
    .card_5_top{

        height: auto;
        width: 5rem;
        margin-left: 50%;
       
    }
    #heading_5{
        color: white;
        font-weight: 400;
        font-size: 2rem;
    }
    #button_5{
        width: 260px;
        height: 30px;
        background-color:rgba(0,0,0,0.1);
        color: white;
        font-size: 0.9rem;
        font-weight: 400;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        border-radius: 50px;
        cursor: pointer;
        border:0.5px solid white;
    }
    .card_5_content{
        display: grid;
        grid-template-columns: repeat(2,24rem);
        row-gap: 10rem;
        width: 100%;
        margin: 0;
        justify-content: center;
        padding-top: 5rem;
        
    }
    .card_5_content div>img{
        width: 120px;
        height: auto;
    }
    .card_5_content div>h2{
        color: white;
        font-size: 1rem;
        font-weight: 300;
    }
  
#card_6{
    width: 100%;
    height: 80rem;
    background: violet;
    position:relative
    
}
    .card_6_1{
        height: 50%;

        background-color:#ccff00;
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        
    }
        #card_6_1_content{
            width:31rem;
            margin-top: 2rem; 
        }
        #card_6_1_content>h1{
            font-weight: 400;
            font-size: 3rem;
    
        }
        #card_6_1_content>p{
            font-size: 1rem;
        }
        
        #button_6{
            width: 260px;
            padding:3%;
            background-color:rgba(0,0,0);
            color: white;
            font-size: 0.9rem;
            font-weight: 400;
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            border-radius: 50px;
            cursor: pointer;
            border:none;
        }
        #testing>img{
            width: 24rem;
            height: auto;
            align-items: flex-end;
        }

    .card_6_2{
        height: 50%;
        width: 100%;
        background-color: aquamarine;
        position:relative;
        text-align: center;
    

    }
        #video_2{
            width: 100%;
            height: 100%;
            object-fit: cover;
            
        }
        .card_6_2_content{
            position: absolute;
            width: 45rem;
            top: 9rem;
       
            left: 25rem;
            
        }
         .card_6_2_content>h1{
            color: white;
            font-weight: 500;
            font-size: 5em;

         }
        #button_6_2{
            border-radius: 50px;
            background-color: #ccff00;
            font-size: 15px;
            width: 200px;
            padding: 15px;
            font-weight: 400;
            cursor: pointer;
            border: none;
        }
                    @media screen and (max-width:600px) {
                    .card_6_2_content{
                         width:30rem;   
                         position:absolute;
                         left: 5rem;
                         top: 4rem;
                    } 

                }   
                           
#card_7{
    width: 100%;
    height: auto;
    background-color: #ccff00;
}
    .block_1{
        display: flex;
        height: 5rem;
        border-bottom: 2px solid black;
        align-items: center;
    }
        #_1{
            text-decoration: underline;
            font-size: 1.3rem;
        }
        #_2{
            text-decoration: underline;
            font-size: 1.3rem;
        }
    .block_2{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 2fr;
    }
    #down_1{
        margin-left: 20px;
    }
    #down_1>h1{
        font-weight: 800;
        font-size: 1.5rem;
    }
    #down_1>h5{
        font-weight: 500;
        font-size: 1rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

/* ------------------------------------------------------------------- */

    #down_2>h1{
        font-weight: 800;
        font-size: 1.5rem;
    }
    #down_2>h5{
        font-weight: 500;
        font-size: 1rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    /* ------------------------------------------------------------------ */

    #down_3>h1{
        font-weight: 800;
        font-size: 1.5rem;
    }
    #down_3>h5{
        font-weight: 500;
        font-size: 1rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    /* ------------------------------------------------------------------ */
     #down_4>h1{
        font-weight: 800;
        font-size: 1.5rem;
    }
    #down_4>p{
        font-weight: 500;
        font-size: 1rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    #final_name{
        margin-left: 2rem;
        font-family: 'Times New Roman', Times, serif;
        font-size: 17rem;
        letter-spacing: 1rem;
        font-weight: 550;
    }
            
             @media screen and (max-width:600px) {
                #final_name{
                    font-size: 5rem;
                }
                    }

    
  